#tweet-input {
    width: 100%;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#submit-button {
    width: 100%;
    text-align: center;
}
#submit-button > button {
    margin: 10px auto;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.analysis-sentiment {
    display: none;
}
.show-more {
    display: none;
	cursor: pointer;
}
.embedded-tweet:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.tweet-list {
    display: none;
}
.tweet-list-element p {
	text-align: center;
	margin: 5px;
}
.tweet-list-element {
	padding: 2px;
	border: 2px solid;
	border-radius: 6px;
	margin: 10px;
	color: black;
}
.tweet-list-element.positive {
	background-color: #E0FFE0;
	border-color: #B9FFB9;
}
.tweet-list-element.negative {
	background-color: #FD8E8E;
	border-color: #FF0000;
}
.tweet-list-element.neutral {
	background-color: #FFFFFF;
	border-color: #D3D3D3;
}
.loading-image {
	width: 100%;
	text-align: center;
}
span.positive {
    color: green;
}
span.negative {
    color: red;
}
span.neutral {
    color: grey;
}
